@import "tailwindcss";
@plugin "daisyui";


@font-face {
	font-family: "monserrat";
	src: url("/assets/fonts/Monserrat/Montserrat-Medium.ttf") format("truetype");
}

@keyframes fade-in-scale {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-fade-in-scale {
	animation: fade-in-scale 0.3s ease-out;
}


