<div class="swiper h-auto w-75 sm:w-120 xl:w-[70vh]" #swiperDiv>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper h-full w-full">
    <!-- Slides -->
    @for (image of images(); track $index) {
    <div class="swiper-slide">
      <img class="w-full h-full object-cover rounded-lg" src="{{image | productImage}}" alt="Producto">
    </div>
    }@empty{
    <div class="swiper-slide">
      <img class="w-full h-full object-cover rounded-md" src="{{ null | productImage}}" alt="Producto">
    </div>
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
